* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* common Button */
.common-btn {
    border-radius: 5px;
    border-style: none;
    background: #FD6E0A;
    color: var(--White-Color, #FFF);
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    width: 130px;
    height: 44px;
}

header {
    background: #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left;

}

.header-title {
    transform: rotate(-90deg);
    color: rgba(24, 24, 24, 0.15);
    font-family: "Open Sans";
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 33px;
    padding-left: 0px;
}

/* nav style section */
nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
}

ul {
    display: flex;
    align-items: center;
}

ul>li {
    list-style: none;
    margin-left: 51px;
    font-size: 25px;

}

ul a {
    text-decoration: none;
    color: var(--Dark-02, #474747);
    padding: 10px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
    color: var(--Dark-01, #181818);
}

.nave-title-color {
    color: #FD6E0A;

}

/* Banner related style */
.banner-sectaion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-greeting {
    color: var(--Dark-02, #474747);
    font-family: "Open Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 35px;
}

.banner-heading {
    color: var(--Dark-01, #181818);
    font-family: "Open Sans";
    font-size: 85px;
    font-weight: 700;
    padding: 30px 2px;
}

.banner-description {
    width: 585px;
    color: var(--Dark-03, #757575);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.banner-img {
    width: 584px;
    height: 676px;
}

/* about section style */
.about-section {
    width: auto;
    height: 550px;
    border-radius: 10px;
    background: #FFF8F3;
    flex-shrink: 0;
    margin-top: 150px;
    padding-bottom: 55px;
    text-align: center;
}

.about-heading,.skill-heading {
    color: var(--Dark-01, #181818);
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
}

.about-description,.skill-greetig {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.about-info {
    display: flex;
    justify-content: space-around;
}

/* skill section */
.skill-section {
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 120px;
}

.skill-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.skill-box {
    text-align: start;
    width: 267px;
    height: 277px;
    border-radius: 5px;
    padding: 10px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}